<!DOCTYPE html>
<html>
<head>
	<title>TheGossipProject</title>
</head>
<body>
	<h1>Voici la liste de tous les potins :</h1>

  	<ul class="list-group">
  
  		<li class="list-group-item">
  			<p>Clic <a href="/gossips/new">here</a> to add a new gossip</p>
  			<% @gossip.each do |g| %>
    			<div class="d-flex w-100 justify-content-between">
      				<h5 class="mb-1">Nom : <%= g.user.first_name %></h5>
   	 			</div>
    			<p class="mb-1">Titre : <%= g.title %> </p><small><a href="/gossips/<%= g.id %>">more details</a> | <a href="/gossips/<%= g.user.id %>/edit">edit</a> | <a href="/gossips/<%= g.user.id %>" data-method='delete', data-confirm='Are you sure?'>delete</a></small><br/>
          <small>
            <% if g.comments.count == 0 %>
              => has no comment
            <% elsif g.comments.count == 1 %>
              => has <%= g.comments.count %> comment
            <% else %>
              => has <%= g.comments.count %> comments
            <% end %>

          </small>
    		<% end %>
  		</li>
  		
	</ul>
	
</body>
</html>